/****************  Styles for Xray reports ****************/

/* Region main for all reports */
#page-local-xray-view {
}

#page-local-xray-view #page-content #region-main {
    max-width: 92%; /* snap theme limit to 60.5 em */
    margin: 0 auto;
    box-sizing: content-box;
}

/* General info report */
#page-local-xray-view .inforeport {
    display: block;
    margin-bottom: 1em;
}

#page-local-xray-view .inforeport p {
    margin-bottom: 0;
}

/* Name elements (tables and graphs) */
#page-local-xray-view .reportsname {
    /* h3 for screenreaders, but needs to be smaller visually */
    font-size: 1.1em;
    line-height: 1.5;
    /* for express we need to override heading centering */
    text-align: left;
}

/* Toogle tables */
#page-local-xray-view .eventtoogletable {
    cursor: pointer;
    padding-left: 1em;
    background: transparent url([[pix:t/collapsed]]) 0 center no-repeat;
}

#page-local-xray-view .expanded {
    background: transparent url([[pix:t/expanded]]) 0 center no-repeat;
}

/* End Toogle tables */

/* General xray element (graphs and tables elements) */
#page-local-xray-view .xray_element {
}

/* General xray element (specific for graphs) */
#page-local-xray-view .xray_element_graph {
    display: inline-block;
    box-sizing: content-box;
    overflow: hidden;
    width: 29%;
    margin: 1em 2%;
}

/* General xray image graph */
#page-local-xray-view .xray_element_img {
    height: 300px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

#page-local-xray-view .xray_element_img:hover {
    transform: scale(1.1);
}

/* General xray element (specific for tables) */
#page-local-xray-view .xray_element_table {
    clear: both;
    margin: 1em 0;
}

/* General xray legend of graph */
#page-local-xray-view .xray_graph_legend {
    font-size: 11px;
    height: 55px;
    margin-top: 5px;
    padding: 5px;
}

/** Wrapper Datatables**/

/* Table content */
#page-local-xray-view .dataTables_wrapper table {
}

/* Table content */
#page-local-xray-view .dataTables_wrapper table tr td {
}

#page-local-xray-view .error_datatables {
    background-color: #CE2F2F;
    color: #fff;
    text-align: center;
    display: block;
    margin: 3px 0px;
    padding: 5px;
}

/** Error load img report**/
#page-local-xray-view .error_loadmsg {
    color: #ce2f2f;
    font-size: 11px;
    margin: auto;
    padding: 100px 10px;
}

/** End Wrapper Datatables**/

#page-local-xray-view .fancybox-title-float-wrap .child {
    background-color: #3bcedb;
}

/**************** Styles for specific reports****************/
/** Link in table to activity report individual **/
#page-local-xray-view .icon_activityreportindividual {
    display: block;
    width: 16px;
    height: 16px;
    background-color: #BFE3FF;
    background-image: url([[pix:local_xray|activityindividualreport]]);
}

/** Link in table to discussion report individual **/
#page-local-xray-view .icon_discussionreportindividual {
    display: block;
    width: 16px;
    height: 16px;
    background-color: #BFE3FF;
    background-image: url([[pix:local_xray|discussionreportindividual_icon]]);
}

/** Horizontal Scrool to tables (Table) **/

.xray_table_scrool {
    overflow: auto;
}

/**************** End Styles for specific reports****************/

/**************** Course Headline data  *********************************/


/* In page headline data and links to reports */
/* TODO - add a class for this title. */
#headerdata > h2 {
    background: transparent url([[pix:local_xray|xray-logo]]) 0 0 no-repeat;
    background-size: contain;
    padding-left: 2em;
}

.xray-headline {
  padding: 1em 0 0.3em 0;
}

.xray-headline-number {
  font-size: 3em;
  font-weight: bold;
  padding: 2%;
}

.xray-comparitor {
    font-style: oblique;
    font-size: smaller;
}

.dashboard_xray_users_profile {
    float: left;
    width: 50%;
    padding: 0.5em 0;
}

.dashboard_xray_users_profile .userpicture {
    border-radius: 100%;
}

.xray-icon {
    width: 2em;
    height: auto;
    margin-right: 0.3em;
}

.xray-menu-item-active {
    font-weight: bold;
}

/* this is a css graph, so use appropriate typography */
.xray-student-visits-lastsevendays {
    padding: 0.5em 0;
    font-size: small;
    font-family: Roboto, 'Fira Sans', 'Segoe UI', HelveticaNeue-Light, 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.xray-visits-unit {
   width: 14%;
   float: left;
   height: 150px;
   position: relative;
}

.xray-visits-per-day {
    position: absolute;
    bottom: -1.5em;
    left: 0;
    right: 0;
    text-align: center;
}

.xray-visits-per-day-line {
    position: absolute;
    bottom: 0;
    width: 61.8%;
    left: 19.1%;
    text-align: center;
    color: white;
    background-color: #3AA2D8;
}



/* Links to xray pages */
#xraymenu {
    clear: both;
    padding: 2em 0;
}

.xray-reports-links {
    margin: 0;
    padding: 1em 0;
}

.xray-reports-links li {
    display: inline-block;
    width: 24%;
    padding: 0;
    margin: 0;
}

.xray-reports-links .risk {
    background: transparent url([[pix:local_xray|xray-risk]]) 50% 70% no-repeat;
}
.xray-reports-links .activityreport {
    background: transparent url([[pix:local_xray|xray-activity]]) 50% 70% no-repeat;
}
.xray-reports-links .gradebookreport {
    background: transparent url([[pix:local_xray|xray-grade]]) 50% 70% no-repeat;
}
.xray-reports-links .discussionreport {
    background: transparent url([[pix:local_xray|xray-discussions]]) 50% 70% no-repeat;
}
.xray-reports-links li a {
    display: block;
    height: 150px;
    text-align: center;
    background-size: 61.8% 61.8% !important;
    background: transparent url([[pix:local_xray|xray-discussions]]) 50% 70% no-repeat;
}


.xray_dashboard_users_risk_hidden {
    display: none;
}

/**************** End Styles for Course Headline data ******************/



/* Some themes center align heading level elements */
#headerdata h1,
#headerdata h2,
#headerdata h3,
#headerdata h4,
#headerdata h5,
#headerdata h6,
#xraymenu h4 {
  text-align:left;
}
