/* Resolve problem with header fixed to use target.*/
.xray-col-4:target:before {
    content: " ";
    display: block;
    height: 3em; /* fixed header height*/
}
.xray-reportsname:target:before {
    content: " ";
    display: block;
    height: 3em; /* fixed header height*/
    margin-top:-3em; /* negative fixed header height */
}
/**************** Recommended Actions ****************/
.xray-div-recommendations .recommendationdiv .recommendationtext {
    padding-top:12px;
}
/**************** End styles for Recommended Actions ****************/