/* General plugin styles */

/* Report Activity of course by day */
#page-local-xray-view .inforeport {
    background-color: #BFE3FF;
    color: #051272;
    display: inline-block;
    font-size: 11px;
    margin-bottom: 10px;
    padding: 5px;
}

#page-local-xray-view .reportsname {
    background-color: #BFE3FF;
    color: #f89829;
    padding: 5px 0 5px 3px;
}


/* Report Activity of course by day */
#page-local-xray-view .activity_of_course_by_day {
	width:800px;
	text-align:center;
}

/** Link in table to activity report individual **/
#page-local-xray-view .icon_activityreportindividual {
	display:block;
	width:16px;
	height:16px;
	background-color: #BFE3FF;
	background-image: url([[pix:local_xray|activityindividualreport]]);
}
