/**************** General styles for all reports****************/

/* Region main for all reports */
#page-local-xray-view {
		background-color: #E0E0E0;
}

#page-local-xray-view #page-content #region-main {
    max-width: 968px; /* snap theme limit to 60.5 em */
	margin: 0 auto;
	box-sizing: content-box;
	background-color: #fff;
}

/* General info report */
#page-local-xray-view .inforeport {
    display: block;
    margin-bottom: 5px;
    padding: 5px;
    color: #666;
    font-family: Roboto;
    font-size: 13px;
}
#page-local-xray-view .inforeport p{
    margin-bottom:0px;
}

/* Name elements (tables and graphs) */
#page-local-xray-view .reportsname {
    background-color: #3bcedb;
    color: #fff;
    font-family: Roboto;
    font-weight: 500;
    height: 42px;
    overflow: hidden;
    padding: 5px 0 5px 3px;
}
/* Toogle tables */
#page-local-xray-view .eventtoogletable {
	cursor:pointer;
    padding-left: 18px;
    background: #3bcedb url([[pix:t/collapsed]]) 2px center no-repeat;
}
#page-local-xray-view .expanded {
    background: #3bcedb url([[pix:t/expanded]]) 2px center no-repeat;
}
/* End Toogle tables */

/* General xray element (graphs and tables elements) */
#page-local-xray-view .xray_element {
}

/* General xray element (specific for graphs) */
#page-local-xray-view .xray_element_graph {
    display: inline-block;
    overflow: hidden;
    width: 316px;
    margin-top:4px;
    box-sizing: content-box;
    margin-right:6px;
}

/* General xray element (specific for tables) */
#page-local-xray-view .xray_element_table {
	clear:both;
	margin-top: 5px;
}

/* General xray image graph */
#page-local-xray-view .xray_element_img{
    background-color: #fff;
    height: 316px;
    margin-top: 5px;
    overflow: hidden;
    width: 316px;
}

/* General xray legend of graph */
#page-local-xray-view .xray_graph_legend {
    font-size: 11px;
    height: 55px;
    margin-top: 5px;
    padding: 5px;
}

/** Wrapper Datatables**/

/* Table content */
#page-local-xray-view .dataTables_wrapper table{
	font-family: Roboto;
}

/* Table content */
#page-local-xray-view .dataTables_wrapper table tr td{
	font-size:14px;
}
#page-local-xray-view .error_datatables {
    background-color: #CE2F2F;
    color:#fff;
    text-align:center;
    display:block;
    margin:3px 0px;
    padding:5px;
}

/** Error load img report**/
#page-local-xray-view .error_loadmsg {
    color: #ce2f2f;
    font-size: 11px;
    margin: auto;
    padding: 100px 10px;
}
/** End Wrapper Datatables**/


#page-local-xray-view .fancybox-title-float-wrap .child {
	background-color: #3bcedb;
}

/**************** End General styles for all reports****************/

/**************** Styles for specific reports****************/
/** Link in table to activity report individual **/
#page-local-xray-view .icon_activityreportindividual {
	display:block;
	width:16px;
	height:16px;
	background-color: #BFE3FF;
	background-image: url([[pix:local_xray|activityindividualreport]]);
}

/** Link in table to discussion report individual **/
#page-local-xray-view .icon_discussionreportindividual {
    display:block;
    width:16px;
    height:16px;
    background-color: #BFE3FF;
    background-image: url([[pix:local_xray|discussionreportindividual_icon]]);
}

/** Horizontal Scrool to tables (Table) **/

.xray_table_scrool{
    overflow: auto;
}


/**************** End Styles for specific reports****************/

/**************** Course Header *********************************/

#local_xray_course_header{
    padding:0 4%;
}

.local_xray_course_atrisk{
    float:left;
    width:50%;
}
.local_xray_course_visitors{
    float:left;
    width:50%;
}

/**************** End Styles for Course Header ******************/